body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.split-text {
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.split-text__title {
  text-transform: uppercase;
}

.split-text__cards {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.split-text__card {
  padding: 25px 50px;
  background-color: #ffffff;
  display: inline-block;
  width: 35%;
  margin: 3%;
  border-radius: 20px;
  box-shadow: 0 20px 60px 0 rgba(0, 0, 0, 0.08);
  align-self: stretch;
  position: relative;
  overflow: hidden;
}
.split-text__progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #2B50ED;
  transform: scaleX(0);
  transform-origin: 0 50%;
}

.split-text__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.split-text__card-title {
  display: inline-block;
}
.split-text__align {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.split-text__align-item {
  margin-left: 5px;
  padding: 5px 8px;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
  user-select: none;
  cursor: pointer;

}

.split-text__align-item_active {
  background-color: #2B50ED;
  box-shadow: 0 12px 30px 0 rgba(43, 80, 237, 0.10);
  color: #ffffff;

}

.split-text__text {
  text-align: justify;
  margin: 0 0 60px 0;
  line-height: 22px;
  color: rgba(#000000, 0.5);
}
.split-text__text_left {
  text-align: left;
}
.split-text__text_center {
  text-align: center;
}
.split-text__text_right {
  text-align: right;
}
.split-text__text_justify {
  text-align: justify;
}

.split-text__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.split-text__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.split-text__toggles {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.split-text__btn {
  width: 35px;
  height: 35px;
  background-color: #2B50ED;
  box-shadow: 0 12px 30px 0 rgba(43, 80, 237, 0.10);
  border-radius: 6px;
  border: 0;
  font-size: 0;
  margin-right: 15px;
  //margin-left: 15px;
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center center;
  outline: none;
  transition: 0.3s ease background-color;

  &:hover {
    background-color: #2CCA74;
  }
}

.split-text__btn_play {
  background-image: url(./assets/play.svg);
}

.split-text__btn_pause {
  background-image: url(./assets/pause.svg);

}

.split-text__btn_reverse {
  background-image: url(./assets/reverse.svg);
  background-size: 55%;
  background-position: center center;
}

.split-text__btn_pause_active {
  background-color: #ff0001;

}

.split-text__btn_reverse_active {
  background-color: #ff9400;
}

.split-text__btn_reset {
  background-image: url(./assets/reset.svg);
  background-size: 50%;

}

.split-text__toggle {
  width: 40px;
  height: 20px;
  background-color: #B7C1CE;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 15px 45px 0 rgba(0, 0, 0, 0.10);
  transition: 0.3s ease background-color;
  overflow: hidden;
  display: inline-block;
  margin-left: 15px;

}

.split-text__toggle-inner {
  width: 18px;
  height: 18px;

  transform: translateY(-50%);
  background-color: #ffffff;
  border-radius: 20px;
  position: absolute;
  left: 1px;
  top: 50%;
  box-shadow: 0 15px 45px 0 rgba(0, 0, 0, 0.10);
  transition: 0.3s ease transform;
  pointer-events: none;
}

.split-text__toggle_active {
  background-color: #2B50ED;

  & .split-text__toggle-inner {
    transform: translateX(20px) translateY(-50%);;
  }
}

.split-text__slow {
  background-color: red;

  &_active {
    background-color: green;
  }
}


